/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

 /*
 Basic formatting
 */

h1 {
   color: rgb(2, 2, 104) ;
}

a:hover {
   color: rgb(173, 168, 168);
   text-decoration: none;
}

a {
   color: rgb(134, 130, 130);
   text-decoration: none;
}

.section-with-logo {
  display: flex;
  align-items: center; /* Richtet Bild und Text perfekt mittig aus */
  gap: 10px; 
}

.run-section {
   padding-top: 5px;
   padding-bottom: 5px;
   border-top: 1px solid rgb(197, 24, 111);
   border-bottom: 1px solid rgb(197, 24, 111);
   background-color: rgb(247, 242, 203); 
}
.job-section {
   border-top: 1px solid rgb(197, 24, 111);
   border-bottom: 1px solid rgb(197, 24, 111);
   background-color: rgb(203, 236, 247);
}
.info-text {
   color: rgb(180, 178, 178);
}
 /* 
 Structural elements
 */

.container { 
   padding: 0px; 
   margin: 0px; 
   height: 110px; 
   bottom: 0;
   border-bottom: solid 5px rgb(197, 24, 111); 
   display: flex;
   font-family: Arial, sans-serif;
}

.main {
   font-family: Arial, sans-serif;
}

header {
   padding-top: 15px;
   padding-bottom: 15px;
   margin: 0px;
   height: 100%;
   align-self: flex-end;
}

header a {
   color: rgb(197, 24, 111);
   text-decoration: none;
}
header a:hover {
   text-decoration: underline;
}

.dashboard {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
}
.dashboard-tile {
   background-color: rgb(221, 221, 221);
   width: 400px;
   height: 300px;

}
.dashboard-icon {
   vertical-align:middle;
   padding-right: 10px;
}
.dashboard-tile h2 {
   color: rgb(237, 235, 235);
   border-top: 1px grey solid;
   border-bottom: 1px grey solid;
   background-color: rgb(172, 172, 172);
}

/*
Navbar
*/

.sh_logo {
   height: 100px;
   float: left;
   padding: 5px;
}

nav {
   align-self: flex-end;
   padding-bottom: 5px;
}
nav ul {
   margin: 0;
   padding: 0;
   list-style: none;
}

nav li {
   display: inline-block;
   margin-left: 70px;
   padding-top: 35 px;
   bottom: 0;
}

.user-status {
   display: inline-block;
   position: fixed;
   top: 10px;
   right: 10px;
}


/* 
Various tablular displays
*/

table {
   border-collapse: collapse;
}

.run-list td {
   border-bottom: solid 2px rgb(224, 224, 224);
   padding: 25px;
   border-collapse: collapse;
}

.run-list th {
   color: rgb(145, 145, 145);
   border-bottom: 10px solid rgb(168, 168, 168);
   background-color: rgb(238, 238, 238);
   text-align: center;
}

.run-list th {
   text-align: left;
   padding: 5px;
}

.job-list {
  list-style-type: none; /* Entfernt die Aufzählungspunkte */
  padding: 0px;
  margin: 0; /* Entfernt den Standard-Außenabstand der Liste */
  vertical-align: middle;
  border-left: 10px solid grey;
}

.job-list ul {
   display: flex;
}

.job-list ul:hover {
   background-color: lightblue;
}

.job-list li {
   padding: 10px;
   display: block;
}

.joblist-table th {
   padding: 15px;
   background-color: rgb(229, 227, 227);
   color: darkgray;
   border-bottom: 5px darkgray solid;
}

.joblist-table td {

   padding: 10px;


}
.pipeline-list th {
   padding-bottom: 5px;
   padding-top: 5px;
   padding-left: 15px;
   padding-right: 15px;
   color: darkgray;
   background-color: rgb(233, 233, 233);
   border-bottom: 5px darkgrey solid;
}

.pipeline-list td {
   padding: 15px;
   border-bottom: solid 1px darkgrey;
}

.library-list td {
   padding: 10px;
}
.library-list th {
   color: darkgrey;
   padding: 5px;
   text-align: center;
}
/*
Special elements
*/

.user-status a { color: rgb(181, 179, 179); font-size: small; }

.library-selection {
   background-color: rgb(240, 240, 240);
   border-top: 1px rgb(197, 24, 111) solid;
   border-bottom: 1px rgb(197, 24, 111) solid;
   padding-top: 5px;
   padding-bottom: 5px;
}
.library-selection h2 {
   color: rgb(197, 24, 111);
}

table tr:hover {
   background-color: #ddd;
}

input[type="checkbox"]:checked {
  box-shadow: 0 0 0 3px rgb(197, 24, 111);
}

select {
  border: 2px solid #dddddd;
  background: #eeeeee;
  padding: 5px;
  transition: 0.4s;
}

select:hover,
select:focus {
  background: #dddddd;
}

/* 
buttons
*/

form.button_to .button-2 {
   background-color: rgb(197, 24, 111);
  border: none;
  color: white;
  border-radius: 8px;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.button-2 {
  background-color: rgb(197, 24, 111);
  border: none;
  color: white;
  border-radius: 8px;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.button-2:hover {
   background-color: rgb(91, 136, 89);
   color: white;
 }

 .my_form-check-button:hover {
   background-color: rgb(169, 169, 169);
   color: white;
 }
.button-delete {
   background-color: gray;
   border: none;
   color: white;
   border-radius: 8px;
   padding: 5px 5px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 12px;
 }

 .button-delete:hover {
   background-color: rgb(180, 83, 83);
   color: white;
 }

input[type=button], input[type=submit] {
  background-color: lightgray;
  border: none;
  color: white;
  padding: 5px 5px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

/*
Tabbed run list
*/
/* Tabs mit radio-Buttons */

.tabs-container {
    display: flex;
    flex-wrap: wrap;

    >input[type="radio"] {
        display: none;

        &:checked+.tab-label {
            background-color: rgb(197, 24, 111);
        }
    }

    >input[type="radio"]:first-child+.tab-label {
        border-radius: 0px 0 0 0px;
    }

    >input[type="radio"]:last-of-type+.tab-label {
        border-radius: 0 50px 0px 0;
    }

    >input[type="radio"]:not(:checked)+.tab-label+.tab-content {
        display: none;
    }

    .tab-label {
        padding: 5px 15px;
        color: white;
        background-color: slategray;
    }

    .tab-content {
        order: 99;
        width: 100%;
        padding-top: 15px;
        display: block;
        border-top: 4px solid rgb(197, 24, 111);;
    }
}